<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ytu.straw.portal.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ytu.straw.portal.model.Question">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="user_nick_name" property="userNickName" />
        <result column="user_id" property="userId" />
        <result column="created_time" property="createdTime" />
        <result column="status" property="status" />
        <result column="hits" property="hits" />
        <result column="is_public" property="isPublic" />
        <result column="modified_time" property="modifiedTime" />
        <result column="is_delete" property="isDelete" />
        <result column="tag_ids" property="tagIds" />
    </resultMap>

</mapper>
